In [2]:
import pandas as pd
import re
import matplotlib.pyplot as plt
import numpy as np

In [3]:
app_data = pd.read_csv('Appdata(coupang-eats).csv')

In [4]:
app_data.head()

,review,date,title,rating,userName,isEdited,developerResponse
0,앱자체는 좋아 별점 5점으로 리뷰 남겨요\n\n전까진 잘 썼는데 요즘 오류가 너무 ...,2020-11-17 06:23:54,잘 쓰고 있었는데...,5,오류해결좀55467,False,NaN
1,정말 리뷰 잘 안쓰는데 너무 좋아서 리뷰 남겨요. 원래도 로켓배송을 너무 좋아해서 ...,2019-09-11 02:15:15,너무너무너무너무 좋아요!!!!!!!!!!!,5,니니22,False,"{'id': 13870810, 'body': '고객님 소중한 피드백 감사합니다. 리..."
2,"배민, 요기요 사용할 때는 2주에 한 번 꼴로 시켜먹을까 말까 했어요. 최소주문금액...",2019-08-09 09:50:06,"배달의 민족, 요기요 어플 삭제했어요",5,안뎌린베,False,"{'id': 13870664, 'body': '고객님 소중한 피드백 감사합니다. 앞..."
3,아니 이렇게 하면 남는게 있긴합니까? 떡볶이를 15분만에 받아서 먹었습니다;;;;;...,2019-08-14 05:45:29,진짜 쿠팡안되겠네요,5,홍홍쓰쓰,False,"{'id': 13870673, 'body': '고객님 소중한 피드백 감사합니다. 앞..."
4,강서구에도 쿠팡이츠가 들어 왔네요. 평소 배민을 이용하는데 오늘은 배송비가 무료여서...,2019-08-09 11:11:53,역시 로켓배달,5,테오신,False,"{'id': 13870705, 'body': '고객님 소중한 피드백 감사합니다. 앞..."

In [5]:
app_data['review'].nunique(), app_data['rating'].nunique()

(2812, 5)

In [6]:
# 정규 표현식 적용
app_data['review'] = app_data['review'].str.replace('[^ㄱ-ㅎㅏ-ㅣ가-힣 ]', '')

<ipython-input-6-5e160fa50950>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  app_data['review'] = app_data['review'].str.replace('[^ㄱ-ㅎㅏ-ㅣ가-힣 ]', '')

In [7]:
app_data['review'] = app_data['review'].str.replace('^ +', "") # white space 데이터를 empty value로 변경
app_data['review'].replace('', np.nan, inplace=True)
print(app_data.isnull().sum())

review                 30
date                    0
title                   0
rating                  0
userName                0
isEdited                0
developerResponse    2764
dtype: int64

<ipython-input-7-bde4a6ab2f26>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  app_data['review'] = app_data['review'].str.replace('^ +', "") # white space 데이터를 empty value로 변경

In [8]:
app_df = app_data.drop(['userName', 'isEdited', 'developerResponse', 'title'], axis = 1, inplace = True)

In [9]:
app_data = app_data.dropna()
print(len(app_data))

2830

In [10]:
app_data

,review,date,rating
0,앱자체는 좋아 별점 점으로 리뷰 남겨요전까진 잘 썼는데 요즘 오류가 너무 심합니다 ...,2020-11-17 06:23:54,5
1,정말 리뷰 잘 안쓰는데 너무 좋아서 리뷰 남겨요 원래도 로켓배송을 너무 좋아해서 정...,2019-09-11 02:15:15,5
2,배민 요기요 사용할 때는 주에 한 번 꼴로 시켜먹을까 말까 했어요 최소주문금액 배달...,2019-08-09 09:50:06,5
3,아니 이렇게 하면 남는게 있긴합니까 떡볶이를 분만에 받아서 먹었습니다 최소주문금액같...,2019-08-14 05:45:29,5
4,강서구에도 쿠팡이츠가 들어 왔네요 평소 배민을 이용하는데 오늘은 배송비가 무료여서 ...,2019-08-09 11:11:53,5
...,...,...,...
2855,진짜빠르고 걸어서도 배송 와요 ㅋㅋㅋㅋ,2019-08-08 10:55:55,5
2856,배달도 빨라최소 주문금액도 없어심지어 배달비도 없네 ㅋㅋㅋㅋ이게 바로 혁명이지,2019-07-30 03:09:20,5
2857,음식점은 기존 배달앱하고 다 중복되네요 고객유치하려고 그러는거같은데 어느정도 고객유...,2019-07-25 05:52:32,5
2858,앱만 다운 받고 부산 언제 될지 기다려요 힘드시더라도 부산도 얼른 개설 부탁드려요 ...,2019-07-24 08:26:24,5
2859,언제나 믿고 쓰는 쿠팡인데 쓰다 보니 이건 좀 아닌 거 같아서요 쿠팡 측 잘못이기라...,2019-07-18 07:38:47,4

In [11]:
app_data.to_csv('clean_coupang-eats_v1.0.csv', index=False, encoding = 'utf-8-sig')

In [12]:
app_data = pd.read_csv('Appdata(coupang-eats-rider).csv')

In [13]:
app_data.head()

,DATE,STAR,LIKE,DISLIKE,TITLE,REVIEW
0,2021-08-03 17:41:39,4,0,0,배달원,안녕하세요 쿠팡이츠를 하고있는 배달원입니다 다름이아니라 제가 이글를 올리는 이유는 ...
1,2021-08-02 23:40:59,1,0,0,배달지역,아니 무슨 배달지역이 구분이없네 무슨 왕복 10km를 5천원에 보낸다고 4개 연달아...
2,2021-08-02 10:49:23,1,0,0,안전교육수료,아니 안전교육수료하고 배달1건하면 2만원 준다면서 정산할때는 2만원만 쏙 빼놓고 주...
3,2021-08-01 23:07:43,1,0,0,단가 후려치네,인제는 하다하다 프로모션에 기본단가까지 후려치네...\n왜 어플지도에 나오는 금액이...
4,2021-07-31 13:29:38,1,0,0,잔대가리 굴리는 곰팡이츠,"이벤트 하나하나가 다 낚시, 돈주기 싫어서 평점낚시는 기본으로 깔고 순진한 파트너 ..."

In [14]:
app_data['REVIEW'].nunique(), app_data['STAR'].nunique()

(490, 5)

In [15]:
app_data.drop_duplicates(subset=['REVIEW'], inplace = True) # review 열에서 중복인 내용이 있다면 제거

In [16]:
len(app_data)

490

In [17]:
# 정규 표현식 적용
app_data['REVIEW'] = app_data['REVIEW'].str.replace('[^ㄱ-ㅎㅏ-ㅣ가-힣 ]', '')

<ipython-input-17-ba0acbd68f17>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  app_data['REVIEW'] = app_data['REVIEW'].str.replace('[^ㄱ-ㅎㅏ-ㅣ가-힣 ]', '')

In [18]:
app_data['REVIEW'] = app_data['REVIEW'].str.replace('^ +', "") # white space 데이터를 empty value로 변경
app_data['REVIEW'].replace('', np.nan, inplace=True)
print(app_data.isnull().sum())

DATE       0
STAR       0
LIKE       0
DISLIKE    0
TITLE      0
REVIEW     2
dtype: int64

<ipython-input-18-cd08b5a7506d>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  app_data['REVIEW'] = app_data['REVIEW'].str.replace('^ +', "") # white space 데이터를 empty value로 변경

In [20]:
app_df = app_data.drop(['LIKE', 'DISLIKE', 'TITLE'], axis = 1, inplace = True)

In [21]:
app_data

,DATE,STAR,REVIEW
0,2021-08-03 17:41:39,4,안녕하세요 쿠팡이츠를 하고있는 배달원입니다 다름이아니라 제가 이글를 올리는 이유는 ...
1,2021-08-02 23:40:59,1,아니 무슨 배달지역이 구분이없네 무슨 왕복 를 천원에 보낸다고 개 연달아 주고 취소...
2,2021-08-02 10:49:23,1,아니 안전교육수료하고 배달건하면 만원 준다면서 정산할때는 만원만 쏙 빼놓고 주냐 그...
3,2021-08-01 23:07:43,1,인제는 하다하다 프로모션에 기본단가까지 후려치네왜 어플지도에 나오는 금액이랑 내가 ...
4,2021-07-31 13:29:38,1,이벤트 하나하나가 다 낚시 돈주기 싫어서 평점낚시는 기본으로 깔고 순진한 파트너 렌...
...,...,...,...
485,2019-10-27 08:29:53,1,중복 콜이 안되면 시간이 돈인데 매장에서분 매번 시다리네요 이거 개선 필요합니다
486,2019-10-24 19:37:42,5,아직 안해봤지만 유투브에서 매장가면 무조건 기다린다는데 정말 저도 홀에 있어봤지만 ...
487,2019-10-23 02:37:11,3,식당업주들은 조리예상시간을 기입해서 배차신청을 하는데 쿠팡이츠는 바로 배달업무배정을...
488,2019-10-15 23:16:56,5,기대되네요 등
489,2019-10-15 23:15:52,5,드디어 아이폰 버전 나왔네요추카추카

In [22]:
app_data = app_data.dropna()
print(len(app_data))

488

In [23]:
app_data.to_csv('clean_coupang-eats-rider_v1.0.csv', index=False, encoding = 'utf-8-sig')